<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="row">
        <h1>Employees</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>

</html>
